<?xml version='1.0' encoding='utf-8'?>
<widget id="com.julienknebel.pokedesk" version="zzz">
    <name>Pokédesk</name>
    <description>
      Best companion app for Pokémon Go to discover with great accuracy your Pokémon hidden values (best known as IVs) and its true perfection rate.
    </description>
    <author email="support@pokedesk.io" href="http://julienknebel.com">Julien Knebel</author>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />
    
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
